EXPO_PUBLIC_BACKEND_BASE_URL=http://wowjini0228.synology.me:7083
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=599659668409-311tkiv1ikkk55apu33h9j9pfk2rkvof.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=599659668409-jo6tdh99iht1tle9mf089k8ba3en08ou.apps.googleusercontent.com
ANDROID_GOOGLE_SERVICES_FILE=C:\path\to\google-services.json
